*.xcuserstate
*.xcbkptlist
*DS_Store
*.o
*.la
*.dylib
*.aux
*.pyc
*.log
*.synctex.gz
*ebin/
web/mychat/deps/
web/mychat/logs/
web/mychat/rel/
c_client/gdb.ini
c_client/objs/
web/fullchinese/node_modules/
*xcuserdata/
*xcworkspacedata
!apple/macosx/lang2.xcworkspace/contents.xcworkspacedata
*xcuserdatad/
*.sublime-project
*.sublime-workspace
.codeintel/
web/mychat/apps/emc/
*DerivedData/
web/fullchinese/site_media/static/sound/
web/fullchinese/media/sound/
web/fullchinese/media/download/
web/fullchinese/media/app/
*.dmg
*.zip
scripts/packages/

build
/includes
/lib
/bin
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/Makefile
build/node_modules
install_manifest.txt
cedict.seg
test1.out
*.out

*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcscheme
!apple/macosx/**/xcshareddata/xcschemes/*.xcscheme
